.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.todo-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: inherit;
}
